.App {
	text-align: center;
}

.App-logo {
	height: 25vmin;
}

.App-header {
	background-color: #F8F8F8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-header2 {
	background-color: #262431;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #1DAFF8;
}

.Weeclik-App {
	background-color: white;
	min-height: 100vh;
	padding: 10px 15px 15px 15px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}

.Weeclik-App-Info-Commerce {
	padding: 10px 15px 15px 15px;/* h d b g */
	background-color: white;
	/* display: flex; */
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}

.Weeclik-App-Info-Commerce2 {
	/* padding: 10px 15px 15px 15px;h d b g */
	/* background-color: white; */
	/* display: flex; */
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}