.App {
	text-align: center;
	background-color: #F8F9FC;
}

.App-logo {
	height: 25vmin;
}

.App-header {
	background-color: #F8F8F8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.content {
	min-height: 100%;
}

.content-inside {
	padding: 20px;
	padding-bottom: 50px;
}

.footer {
	/* height: 50px; */
	z-index: 0;
	margin-top: -50px;
}

.App-header-profile {
	background-color: #F8F9FC;
	min-height: 100vh;
	padding-top: 70px;
	padding-bottom: 200px;
	/* margin-bottom: 100px; */
	/* display: flex; */
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-evenly;
	font-size: calc(5px + 2vmin);
	color: black;
}

.App-header2 {
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #1DAFF8;
}

.Weeclik-App {
	background-color: white;
	min-height: 100vh;
	padding: 10px 15px 15px 15px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}

.Weeclik-App-Info-Commerce {
	padding: 10px 15px 15px 15px;/* h d b g */
	background-color: white;
	/* display: flex; */
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}

.Weeclik-App-Info-Commerce2 {
	/* padding: 10px 15px 15px 15px;h d b g */
	/* background-color: white; */
	/* display: flex; */
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: black;
}

@keyframes bouncing-loader {
	to {
		opacity: 0.1;
	  	transform: translate3d(0, -1rem, 0);
	}
}
.bouncing-loader {
	display: flex;
	justify-content: center;
}
.bouncing-loader > div {
	width: 1rem;
	height: 1rem;
	margin: 3rem 0.2rem;
	background: #1EB0F8;
	border-radius: 50%;
	animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
	animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
	animation-delay: 0.4s;
}