body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainHeader {
  font-family: "Rubik", "Lato", sans-serif;
  /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
  /* background-image: url('https://fr.freepik.com/photos-gratuite/pont-manhattan_1198596.htm'); */
  background-clip: text;
  -webkit-background-clip: text;
  /* color: transparent; */
	/* -webkit-text-fill-color: transparent; */
  
  text-shadow: 2px 4px 10px black;
  line-height: 30px;
}